* {
    box-sizing: border-box;
}

#body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 2;
    overflow-x: hidden;
}

.landing-header {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: white;
}
.landing-container {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video video {
    min-height: 100%;
    min-width: 100%;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #b6b63f69;
    z-index: 1;
}

.landing-content {
    z-index: 2;
}

.landing-content {
    text-align: center;
}
#welcome {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    padding-left: 4rem;
}

.star-wrapper {
    display: flex;
    align-items: flex-end;
    padding: 0;
}
#this {
    font-size: 2rem;
    transform: translateY(50%);
    position: relative;
    animation-name: blink;
    animation-duration: 4s;
}
.star {
    font-family: 'Nova Square', cursive;
    font-size: 6rem;
    margin: 0;
}
.star-word {
    transform: translateY(-60%);
    position: relative;
}
.wars {
    font-size: 8rem;
    transform: translateY(10%);
    position: relative;
}
.landing-btn {
    display: block;
    background: #680260;
    transform: translate(70%, -50%);
    z-index: 1;
    text-decoration: none;
    width: 20rem;
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
    font-weight: 1000;
    color: #b2b2b2;
    border-radius: 5rem;
    animation-name: move;
    animation-duration: 3s;
}

.wars {
    animation-name: from-left;
    animation-duration: 4s;
  }

  @keyframes from-left {
    0% {
      left: -20rem;

    }
    100% {
      left: 0rem;

    }
}

.star-word, #welcome {
    animation-name: from-right;
    animation-duration: 4s;
  }



  @media(max-width: 940px) {
      .wars {
          font-size: 6rem;
      }
      .star-word {
          font-size: 4rem;
      }
      .landing-btn {
          font-size: 1rem;
          padding: 0.35rem 0.5rem;
          width:13rem;
      }
      #welcome {
          font-size: 1.5rem;
      }
      #this {
          font-size: 1.2rem;
      }
  }

  @media(max-width: 476px) {
     .star-wrapper {
         flex-direction: column;
     }
      .wars {
          font-size: 8rem;
          margin-top: 0;
          transform: translateY(-20%);
      }
      .star-word {
          font-size: 6rem;
          transform: translateY(20%);
          margin-bottom: 0;
      }
      .landing-btn {
          font-size: 1.5rem;
          padding: 0.4rem 1rem;
          width:70vw;
          transform: translateX(15%);
          border-radius: 1rem;
      }
      #welcome {
          font-size: 3rem;
      }
      #this {
          font-size: 2rem;
      }

      .background-video video {
        min-width: 300%;
        min-height: 50%;
    }
    
  }

  

  @keyframes from-right {
    0% {
      left: 80rem;

    }
    100% {
      left: 0rem;

    }
}

@keyframes move {
    0% {
      transform: scale(1.5) rotate(-10deg);
    }
    50% {
      transform: scale(0.6) rotate(-10deg);
    }
  }
@keyframes blink {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0.5);
  }
  100% {
      transform: scale(1)
  }
}